@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap");
:not(pre) {
  font-family: "IBM Plex Mono";
  color: white;
  background: #1F232B;
  text-align: center;
  --yes: #0fbf4dfd;
  --no: #d11c0f;
  --misc: #e9c810; }

a {
  display: inline-block; }
  a.options {
    text-decoration: none;
    font-size: 20px;
    margin-right: 36px; }
    a.options.curr {
      color: var(--yes);
      font-weight: 700; }

nav {
  text-align: right; }

h1.title {
  font-size: 50px;
  margin-top: 34px;
  padding-top: 6px; }

h1.intro {
  color: var(--yes);
  font-size: 30px; }

button {
  font-size: 17px;
  padding: 15px 32px;
  border: none;
  color: white;
  text-align: center;
  border-radius: 50px;
  transition: background 215ms !important;
  margin-bottom: 15px; }
  button, button > a {
    text-decoration: none;
    background: #605f57 !important; }
  button:active {
    background: var(--yes); }

ul > li {
  text-align: left; }

form {
  margin-bottom: 30px; }
  form > * {
    font-weight: 700;
    margin-right: 10px; }
  form > label {
    color: var(--no); }
  form > input[type=text] {
    width: 50%; }
    pre, form > input[type=text]:focus {
      padding: 10px;
      border-radius: 5px;
      background: #ccc;
      color: black; }

div.error > div {
  font-weight: 700; }
  div.error > div#success {
    color: var(--yes); }
  div.error > div#failure {
    color: var(--no); }
  div.error > div#info {
    color: var(--misc); }
